body{
	background-color: cadetblue;
}

.paragraph {
	background-color:burlywood;
	 margin:auto;
	 width:80% 
}

.list li{
	/* background-color:red; */
	list-style-image: url(../image/tupian.jpeg);
}


button{
	background-color: dimgray;
	color:white;
	padding: 10px 20px;
}

button:hover {
	background-color: red;
}

button:active {
	background-color: turquoise;
}

a {
 text-decoration: none;  
 color: blue;
}

a:hover {
	color: red;
}

a:visited {
	color:gray;
}

/* 如果不设置box-sizing为border-box,将border的值纳入元素的尺寸内，这时如果三个块宽度都为33.3%,第三个块就会被挤下去 */
.block {
	float:left;
	width:33.3%;
    border: 1px sold red;
	box-sizing: border-box;
}
 
#main-block {
	float: left;
	width:70%;
} 


#side-block {
	float: right;
	width:30%;
} 

.list2 li:nth-child(even){
   background-color: green;
}


#fixed {
	position: fixed;
	right:20px;
	bottom: 20px;
}

 
h1.title {
	color:red;
}